# Python
__pycache__/
vggish/__pycache__/

# Datasets
dataset/healthy_cutted/*.wav
dataset/healthy_files/*.wav
dataset/noise_cutted/*.wav
dataset/noise_files/*.wav
dataset/audio_features.csv

# VGGish
vggish/models/

# Grid Search
grid_search/
